[run]
source = .
branch = true
core = ctrace
concurrency = thread, greenlet
omit =
    */alembic/*
    */webui/*
    */test/*
    */db/*
    backend_demo.py
    gunicorn.conf.py

[report]
show_missing = true
