fastapi==0.135.2
SQLAlchemy==2.0.48
argon2-cffi==25.1.0
pydantic==2.12.5
aiofiles==25.1.0
pillow==12.1.1
psycopg==3.3.3
## The following requirements were added by pip freeze:
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
argon2-cffi-bindings==25.1.0
cffi==2.0.0
greenlet==3.3.2
idna==3.11
pycparser==3.0
pydantic_core==2.41.5
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
