-r requirements.txt
httpx==0.28.1
aiosqlite==0.22.1
pytest==9.0.2
pytest-asyncio==1.3.0
numpy==2.4.3
## The following requirements were added by pip freeze:
aiofiles==25.1.0
aniso8601==7.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
astroid==1.3.2
async-exit-stack==1.0.1
async-generator==1.10
certifi==2024.7.4
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.4
click==7.1.2
dill==0.4.1
dnspython==2.6.1
email-validator==2.0.0
fastapi==0.135.1
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==3.3.2
gunicorn==25.1.0
h11==0.16.0
httpcore==1.0.9
httptools==0.6.4
idna==3.7
iniconfig==2.3.0
isort==8.0.1
itsdangerous==1.1.0
Jinja2==3.1.4
logilab-common==2.1.0
MarkupSafe==2.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
openapi-generator-cli==7.20.0
orjson==3.9.15
packaging==26.0
pillow==12.1.1
platformdirs==4.9.4
pluggy==1.6.0
promise==2.3
psycopg==3.3.3
psycopg-binary==3.3.3
py2puml==0.11.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pylint==1.4.0
pyplantuml==0.1.51
python-dotenv==0.17.1
python-multipart==0.0.22
PyYAML==6.0.3
requests==2.32.4
Rx==1.6.1
setuptools==82.0.1
six==1.17.0
SQLAlchemy==2.0.48
starlette==0.49.1
tomlkit==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
ujson==4.0.2
urllib3==2.6.3
uvicorn==0.13.4
uvloop==0.21.0
watchgod==0.7
websockets==10.0
